[credential]
	helper = store

[user]
	name = Jon Snow
	email = jon@kingofthenorth.com
[core]
	autocrlf = input

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true
[color "status"]
	header = blue
	added = green
	changed = red bold
	branch = cyan bold
	nobranch = red bold
	localBranch = green
	remoteBranch = yellow
[push]
	default = simple
